<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>whoareyou :: {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/toastr.min.css') }}" />
    <script src="{{ url_for('.static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/vendor/modernizr.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/toastr.min.js') }}"></script>

{% block head %}
{% endblock %}
</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <h1>whoareyou :: {{ title }}</h1>
    </div>
</div>

<div class="row">
{% block body %}
{% endblock %}
</div>

<script type="text/javascript">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            toastr.info("{{ message }} ");
        {% endfor %}
    {% endif %}
{% endwith %}

{% block script %}
{% endblock %}
</script>

</body>
</html>
