{% extends "_base.html" %}

{% block body %}
<form action="{{ url_for('.page_gcm') }}" method="POST">
    <div class="large-12 columns">
        <div class="panel">
        {{ gcm_result }}
        </div>
    </div>

    <div class="large-12 columns">
        <label for="request_id">Request ID</label>
        <input type="text" name="request_id" required
          placeholder="Request ID (Acquire from app)" />
    </div>

    <div class="large-12 columns">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Hello!" />
    </div>

    <div class="large-12 columns">
        <label for="message">Message</label>
        <input type="text" name="message"
          placeholder="Hello from whoareyou server!"/>
    </div>

    <div class="row">
        <div class="large-4 medium-4 small-4 columns">&nbsp;</div>
        <div class="large-4 medium-4 small-4 columns">
            <input type="submit" class="radius button expand"
              value="Push!"/>
        </div>
        <div class="large-4 medium-4 small-4 columns">&nbsp;</div>
    </div>
</form>
{% endblock %}

{% block script%}
$(document).ready(function () {
    $('input[name="request_id"]').focus();
})
{% endblock %}
