{% extends "_base.html" %}

{% block body %}
<form id="register-form" action="{{ url_for('.page_register') }}" method="POST">
    <div class="large-12 columns">
        <div class="panel">
            Register page
        </div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
            <label for="id">ID</label>
            <input type="text" name="id" required/>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
            <label for="pw">Password</label>
            <input type="password" name="pw" required/>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
            <input id="agree" type="checkbox" />
            <label for="agree">본인은 회원 가입을 통해 <a href="#">약관</a>에
            동의합니다.</label>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <div class="large-4 medium-4 small-4 columns">&nbsp;</div>
        <div class="large-4 medium-4 small-4 columns">
            <input type="submit" class="radius button expand"
              value="Create account"/>
        </div>
        <div class="large-4 medium-4 small-4 columns">&nbsp;</div>
    </div>
</form>
{% endblock %}

{% block script %}
$(document).ready(function () {
    $('#register-form').submit(function () {
        if (!$('#agree')[0].checked) {
            toastr.error('약관 동의에 체크하셔야 합니다.');
            return false;
        }
    });

    $('input[name="id"]').focus();
})
{% endblock %}
